{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "edge 14"
          ]
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}